* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f0f4f9;
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 14px 32px;
  border-bottom: 1px solid #e5e7eb;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-section i {
  color: #4f46e5;
  font-size: 18px;
}
.home-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 14px;
  background: #4f46e5;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  border-radius: 8px;
}

.home-btn i {
  font-size: 13px;
}

.home-btn:hover {
  background: #4338ca;
}

.logo {
  font-size: 18px;
  font-weight: 600;
}

.top-buttons {
  display: flex;
  gap: 12px;
}

.icon-btn {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  background: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #374151;
  text-decoration: none;
  transition: background 0.2s;
}

.icon-btn:hover {
  background: #e5e7eb;
}

.icon-btn.logout {
  background: #fee2e2;
  color: #991b1b;
}

/*Page Container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 16px;
}

/*Edit Profile Box */
.edit-box {
  background: #ffffff;
  width: 100%;
  max-width: 380px;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

/* Header inside form */
.edit-box .header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.edit-box h2 {
  font-size: 22px;
  color: #1a73e8;
}

/* Back button */
.back-btn {
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 8px;
  background: #e8f0fe;
  color: #1a73e8;
  font-size: 14px;
  margin-right:25px ;
}

.back-btn:hover {
  background: #1a73e8;
  color: #fff;
}

/* =====================
   Form
===================== */
form label {
  display: block;
  margin: 12px 0 6px;
  font-size: 14px;
  color: #374151;
}

form input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 14px;
}

form input:focus {
  outline: none;
  border-color: #1a73e8;
}

/* Save button */
.save-btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #1a73e8;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.save-btn:hover {
  background: #1669c1;
}

/* =====================
   Responsive
===================== */
@media (max-width: 480px) {
  .home-btn span {
    display: none;
  }

  .edit-box {
    padding: 24px;
  }
}
