* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* BODY */
body {
  background-color: #f0f4f9;
  min-height: 100vh;
}
.img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* HEADER / NAV */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px 30px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-section i {
  color: #1a73e8;
}

.logo {
  font-size: 1.3em;
  font-weight: 600;
  color: #0e0d13;
}

.top-buttons {
  display: flex;
  gap: 15px;
}

.icon-btn {
  width: 38px;
  height: 38px;
  border-radius: 30%;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #545455;
  text-decoration: none;
  transition: 0.3s;
}

.icon-btn:hover {
  background: #c4c2c2;
  color: #fff;
}

.icon-btn.logout {
  background: #ffecec;
  color: #b10000;
}

/* LOGIN CENTER */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

.login-box {
  background: #fff;
  width: 500px;
  padding: 25px 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  gap: 20px;
}

/* LOGO */
.logo-box .icon {
  font-size: 35px;
}

.logo-box h2 {
  color: #0c0c0c;
}

.logo-box p {
  color: #555;
  font-size: 14px;
}

/* TABS */
.tabs {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}

.tabs p,
.tabs a {
  font-weight: 600;
  color: #555;
  text-decoration: none;
}

.tabs .active {
  color: #421515;
  border-bottom: 2px solid #6c1c24;
}

/* FORM */
form {
  text-align: left;
}

label {
  font-size: 14px;
  margin-top: 10px;
  display: block;
}

.input-field {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 10px;
}

.input-field input {
  border: none;
  outline: none;
  width: 100%;
}

.login-btn {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: #5f1119;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.login-btn:hover {
  background: #7d1a21;
}

.extra-links {
  text-align: center;
  margin-top: 15px;
}

.extra-links a {
  color: #7d3333;
  font-size: 14px;
  text-decoration: none;
}

.secure {
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
}
