* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f8f9ff;
  min-height: 100vh;
}
.img {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 14px 32px;
  border-bottom: 1px solid #e5e7eb;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-section i {
  color: #4f46e5;
  font-size: 18px;
}

.logo {
  font-size: 18px;
  font-weight: 600;
}
.home-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 14px;
  background: #6c2e33;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  border-radius: 8px;
}

.home-btn i {
  font-size: 13px;
}

.home-btn:hover {
  background: #953b3b;
}

.top-buttons {
  display: flex;
  gap: 12px;
}

.icon-btn {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  background: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0d1013;
  text-decoration: none;
  transition: background 0.2s;
}

.icon-btn:hover {
  background: #e5e7eb;
}

.icon-btn.logout {
  background: #fee2e2;
  color: #991b1b;
}

.profile-box {
  background: #ffffff;
  width: 100%;
  max-width: 460px;
  margin: 60px auto;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 8px rgba(0, 0, 0, 0.08);
}

.profile-header h2 {
  font-size: 22px;
  color: #111827;
}

.profile-header p {
  font-size: 14px;
  color: #0f1012;
  margin: 8px 0 25px;
}

.profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.profile-pic img {
  width: 100px;
  height: 100px;
  border-radius: 60%;
  border: 3px solid #120505;
  object-fit: cover;
  margin-bottom: 10px;
}

#upload-photo {
  display: none;
}

.select-btn {
  background: #4c0508;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
}

.select-btn:hover {
  background: #7c1010;
}

.profile-form {
  text-align: left;
}

.profile-form label {
  font-size: 13px;
  color: #374151;
  margin-bottom: 5px;
  display: block;
}

.profile-form input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  background: #fafafa;
  margin-bottom: 14px;
}

.profile-form input:focus {
  outline: none;
  border-color: #720b0b;
}
.edit-btn {
  display: block;
  width: 100%;
  background: #4f0809;
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 15px;
  margin-top: 10px;
}

.edit-btn:hover {
  background: #6c0c0e;
}

.back-section {
  margin-top: 25px;
}

.back-btn {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #4b0707;
  color: #952727;
  font-size: 14px;
  text-decoration: none;
}

.back-btn:hover {
  background: #560808;
  color: #ffffff;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
}
