* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #dfdfe0;;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 14px 33px;
  border-bottom: 1px solid #ddd;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
  color: blue;
}

.logo {
  font-size: 18px;
  font-weight: 600;
  color: #0a0a0a;
}

.top-buttons {
  display: flex;
  gap: 12px;
}


.icon-btn {
  width: 38px;
  height: 38px;
  border-radius: 8px;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0c0d;
  text-decoration: none;
  transition: background 0.2s;
}
.icon-btn:hover {
  background: #e5e7eb;
}
.icon-btn.logout {
  background: #ffecec;
  color: #b10000;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

.container {
  background: #fff;
  width: 500px;
  padding: 25px 30px;
  border-radius: 15px;
  opacity: 70%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.login-box {
  text-align: center;
}

.login-box h2 {
  color: #0a0a0a;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}

.tabs a,p {
  text-decoration: none;
  color: #452f2f;
  font-weight: 600;
}

.tabs .active {
  color: #601515;
  border-bottom: 2px solid #630f0f;
}

form {
  text-align: left;
}

label {
  margin-top: 10px;
  display: block;
  font-size: 14px;
}

.input-field {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 10px;
  margin-bottom: 10px;
}

.input-field input {
  border: none;
  outline: none;
  width: 100%;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: #660f0f;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 15px;
  font-weight: 600;
  cursor: pointer;
}

.login-btn:hover {
  background: #811b1b;
}

.extra-links {
  text-align: center;
  margin-top: 15px;
}

.extra-links a {
  color: #76313b;
  font-size: 14px;
  text-decoration: none;
}

.secure {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
  color: #141414;
}
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
}
