* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f4f6f8;
}
.img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  height: 165%;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 14px 32px;
  border-bottom: 1px solid #e5e7eb;
}
.set{
  color:white ;
  text-align: center;
}
.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-section i {
  color: #3945e4;
  font-size: 18px;
}

.logo {
  font-size: 18px;
  font-weight: 600;
}
.home-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 14px;
  background: #762121;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  border-radius: 8px;
}

.home-btn i {
  font-size: 13px;
}

.home-btn:hover {
  background: #4338ca;
}

.top-buttons {
  display: flex;
  gap: 12px;
}

.icon-btn {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  background: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0c0d;
  text-decoration: none;
  transition: background 0.2s;
}

.icon-btn:hover {
  background: #e5e7eb;
}

.icon-btn.logout {
  background: #ffecec;
  color: #b10000;
}
.container {
  max-width: 700px;
  margin: 20px auto;
  padding: 0 15px;
}

.card {
  background: #fdfefe;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 18px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.card h2 {
  margin-bottom: 12px;
  font-size: 18px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.row:last-child {
  margin-bottom: 0;
}

select,
input[type="time"] {
  padding: 5px 8px;
}

.btn {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  background: #4a181d;
  color: white;
  cursor: pointer;
}

.btn.danger {
  background: #481e1e;
}

.text {
  font-size: 14px;
  color: #0c0c0c;
}
