* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f5f7fb;
  color: #333;
  min-height: 100vh;
}
.img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -8;
  height: 100%;
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 14px 32px;
  border-bottom: 1px solid #e5e7eb;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-section i {
  color: #4f46e5;
  font-size: 18px;
}

.logo {
  font-size: 18px;
  font-weight: 600;
}
.home-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 14px;
  background: #731818;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  border-radius: 8px;
}

.home-btn i {
  font-size: 13px;
}

.home-btn:hover {
  background: #902525;
}

.top-buttons {
  display: flex;
  gap: 12px;
}

.icon-btn {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  background: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #374151;
  text-decoration: none;
  transition: background 0.2s;
}

.icon-btn:hover {
  background: #e5e7eb;
}

.icon-btn.logout {
  background: #fee2e2;
  color: #991b1b;
}

main {
  display: flex;
  justify-content: center;
  padding: 40px 16px;
}

.todo-container {
  width: 100%;
  max-width: 480px;
  background: #ffffff;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.todo-container h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

.todo-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.todo-form input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 14px;
}

.todo-form input:focus {
  outline: none;
  border-color: #b8b8c6;
}

.add-btn {
  padding: 12px;
  background: #5b1c1c;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

.add-btn:hover {
  background: #581b1b;
}

.todo-list {
  list-style: none;
  margin-top: 24px;
}

.todo-list li {
  padding: 14px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  background: #fafafa;
  margin-bottom: 12px;
}

.task-top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-top span {
  font-size: 15px;
}

.todo-list small {
  display: block;
  margin-top: 6px;
  font-size: 12px;
  color: #6b7280;
}

/* Completed Task */
input[type="checkbox"]:checked + span {
  text-decoration: line-through;
  color: #9ca3af;
}

.footer-quote {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #030209;
  font-weight: 500;
}

@media (max-width: 480px) {
  .home-btn span {
    display: none;
  }
}
