/* Global Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Body */
body {
  background: #dfdfe0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #111827;
}


/* nav */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 14px 30px;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-section i {
  color: #4f46e5;
  font-size: 18px;
}

.logo {
  font-size: 18px;
  font-weight: 600;
}

.top-buttons {
  display: flex;
  gap: 12px;
}

.icon-btn {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  background: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #374151;
  text-decoration: none;
  transition: background 0.2s;
}

.icon-btn:hover {
  background: #e5e7eb;
}

.icon-btn.logout {
  background: #fee2e2;
  color: #991b1b;
}
.wish_list{
  color: rgb(68, 44, 44);
  padding: 50px;
}
.home-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 14px;
  background: #560a0d;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  border-radius: 8px;
}

.home-btn i {
  font-size: 13px;
}

.home-btn:hover {
  background: #6b1818;
}

/* main */
.container {
  flex: 1;
  max-width: 1100px;
  margin: auto;
  padding: 70px 60px;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  width: 100%;
}

.card {
  background: #fefcfc;
  width: 200px;
  padding: 22px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  text-align: left;
}

.card h3 {
  font-size: 16px;
  font-weight: 500;
  color: #0b0b12;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  min-height: 90px;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  margin-bottom: 25px;
}

textarea:focus {
  outline: none;
  border-color: #6d6c70;
}
.sub-btn{
  width:100%; 
  text-align:center; 
  margin-top:80px;
}
.card button {
  width: 100%;
  padding: 8px;
  font-size: 13px;
  background: #771212;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.card button:hover {
  background: #842326;
}

.submit-btn {
  margin-top: 30px;
  padding: 12px 34px;
  font-size: 14px;
  background: #ecedee;
  color: #060505;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #d0d2d7;
}

.footer {
  text-align: center;
  padding: 14px;
  font-size: 13px;
  color: #fff;
}

@media (max-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}
