  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f7f9fc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  background: #ffffff;
  padding: 14px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
} 

.left i {
  color: #4f46e5;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  color: #111827;
}

.right {
  display: flex;
  gap: 15px;
}

.right a {
  width: 36px;
  height: 36px;
  background: #f1f5f9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #080708;
  text-decoration: none;
  transition: 0.3s;
}

.right a:hover {
  background: #792d2d;
  color: white;
}

.right .logout {
  background: #fee2e2;
  color: #b91c1c;
}

.container {
  flex: 1;
  text-align: center;
  padding: 180px 20px;
}

.container h1 {
  font-size: 36px;
  color: #111827;
  margin-bottom: 10px;
  align-items: center;
}

.subtitle {  
  color: #656666;
  margin-bottom: 50px;
  padding-right: 40px;  
  align-items: center;
  font-size: 2rem;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  background: #ffffff;
  width: 240px;
  padding: 30px 20px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  text-decoration: none;
  transition: 0.3s;
}

.card:hover {
  transform: rotate(5deg);
  background: #968787;
  color: white;
}

.card h3 {
  color: #612121;
  margin-bottom: 8px;
}

.card p {
  color: #121213;
  font-size: 14px;
}

.footer {
  text-align: center;
  padding: 15px ;
  font-size: 13px;
  color: #f6f7f9; 
  justify-content: end;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
}
